<div id="contenedor">
  <div id="contNav">
    <div id="DatosPerfil">
      <div id="divImg">
        <img id="mainPageImg" src=""/>
      </div>
      <div id="contInfo">
        <label>RUT: {{session.Rut}}</label> <br>
        <label>Nombre: {{session.Nombre}}</label> <br>
        <label>Rubro: {{session.NombreRubro}}</label>
      </div>
    </div>
    <div id="contMenu">
      <div id="BtnMenu" (click)="hamburguesa()">

      </div>
      <ul id="Menu">
        <li><a routerLink="/mainPage/Inicio">Inicio</a></li>
        <li><a routerLink="/mainPage/Ordenes">Ordenes</a></li>
        <li><a routerLink="/mainPage/EditarPerfil">Actualizar perfil</a></li>
        <li><a routerLink="/mainPage/Categorias">Categorias</a></li>
        <li><a routerLink="/mainPage/Estados">Estados</a></li>
        <li><a routerLink="/mainPage/Paquetes">Paquetes</a></li>
        <li><a routerLink="/mainPage/Productos">Productos</a></li>
        <li><a routerLink="/mainPage/ZonasEntrega">Zona de entrega</a></li>
        <li><a routerLink="/mainPage/Avanzado">Avanzado</a></li>
        <li style="background-color: brown;"><a routerLink="" (click)="LogOut()" style="color: white;">Cerrar sesion</a></li>
      </ul>
    </div>
  </div>
  <div id="contComp">
      <router-outlet></router-outlet>
  </div>
</div>

  <!-- <div id="DatosPerfil"> -->
    
    <!-- <div>
      Actualizar empresa (geograficos tambien)
      Desactivar empresa
      Agregar categoria
      Estado(Agregar, Actualizar, Listar, borrar)
      Paquete(Agregar, Actualizar,listar, borrar)
      zona (agregar modificar)
    </div> -->

      <!--
          <div id="divImg">
          <img src="" #Img/><br>
      </div>
      <div id="contInfo">
        <label>RUT: {{session.Rut}}</label> <br>
        <label>Nombre: {{session.Nombre}}</label> <br>
        <label>Rubro: {{session.NombreRubro}}</label>
      </div>
  </div> -->

  <!-- <div id="fondoMenu" class="default"></div> -->
  
  <!-- <div id="listMenu" class="default">
    <a (click)="redirect('EditarPerfil')">Editar Perfil</a>
  </div>
  <div id="contComp">
    <router-outlet></router-outlet>
  </div> -->
