#contenedor {
    width: 80%;
    height: 960px;

    overflow-y: scroll;
    padding-bottom: 4%;

    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

#contNav {
    width: 20%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: 1%;

    float: left;
}

#DatosPerfil {
    width: 85%;

    margin-top: 2%;
    margin-left: 5%;
}

#divImg{
    width: 95%;
    margin-left: 5%;
    padding-bottom: 2%;
}

#divImg img{
    width: 220px;
    height: 220px;
    margin-right: auto;
}

#contInfo {
    margin-top: 4%;
    width: 95%;
    margin-left: 5%;
}

#contInfo label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 140%;
}

#contMenu {
    width: 85%;

    margin-top: 4%;
    margin-left: 5%;
}

#Menu {
    padding: 0;
    margin-left: 5%;
    list-style-type: none;
}

#Menu a {
    color: black;
}

#Menu a:hover {
    color: brown;
    text-decoration: none;
}

#Menu li{
    font-size: 160%;
}

#contComp {
    width: 70%;
    height: auto;

    margin-right: 5%;
    margin-top: 2%;
    float: right;
}