<div id="container">
  <div id="titulo">
      <h2>Inicio:</h2>
  </div>
  <div id="contBarSup">
    <div id="pestañas">
    </div>
  </div>
  <div id="ContenedorForm">
    <div id="Contreportes">
      <label>Ultimo inicio de session para {{session.Usuario}}: {{reportes.UltimoLogIn}}</label> <br>
      <label>Usted tiene {{reportes.CantOrdenesPendientes}} ordenes pendientes.</label> <br>
      <label>Se registraron {{reportes.CantProductos}} productos en su inventario.</label> <br>
      <label>Se encontraron {{reportes.CantCategorias}} categorias registradas.</label> <br>
      <label>Se encontraron {{reportes.CantEstados}} estados registrados.</label> <br>
      <label>La empresa cubre actualmente {{reportes.AreaTotal}} km<sup>2</sup> aproximadamente.</label>
    </div>
  </div>
</div>