#container{
    width: 100%;
}

#contBarSup {
    height: 40px;
    width: 100%;

    margin-bottom: 1%;
    /* border: 1px solid black; */
}

#titulo {
    width: 100%;
    height: 100%;

    padding-left: 5%;
    /* border-bottom: 1px solid black; */
}

#titulo h2 {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 300%;
}

#pestañas {
    width: 100%;
    height: 100%;
    padding-left: 6%;

    border: 1px solid black;
}

#pestañas a {
    color: black;
    margin-left: 1%;
    margin-right: 1%;

    font-size: 200%;

    padding: 10px;
}

#pestañas a:hover {
    color: brown;
    text-decoration: none;
}

/* --------------------AGREGAR USUARIO------------------- */

#AgregarUsuario {
    width: 90%;
    margin-left: 5%;
}

#AgregarUsuario label{
    font-size: 140%;
    margin-top: 4%;
    width: 80%;
    /* float: right; */
    height: 15%;
}

#AgregarUsuario input{
    font-size: 100%;
    margin-right: 5%;
    width: 50%;
    float: right;
    height: 50%;
}

#btnAgregarUsuario {
    margin-top: 5%;
    margin-right: 10%;
}

#AgregarUsuario button {
    margin: 0;
    width: 15%;
    height: 25px;
    font-size: 15px;
    margin-right: 5%;
    float: right;
}

/* ------------------DESACTIVAR CUENTA-------------- */

#DesactivarCuenta {
    width: 90%;
    margin-left: 5%;
}

#DesactivarCuenta p{
    margin-top: 5%;
    font-size: 25px;
}

#desactEmpresaMsg{
    height: 30px;
    margin-top: 3%;
    width: 80%;
    text-align: center;
}

#desactEmpresaMsg h1{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: red;
}

#desactUsuarioMsg{
    height: 30px;
    margin-top: 3%;
    width: 80%;
    text-align: center;
}

#desactUsuarioMsg h1{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: red;
}

#activarEmpresaMsg{
    height: 30px;
    margin-top: 3%;
    width: 80%;
    text-align: center;
}

#activarEmpresaMsg h1{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: red;
}

#activarEmpresaMsg h2{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: green;
}

/* ------------------MENSAJES DE ERROR-------------- */

#AddUsuarioMsg{
    height: 30px;
    margin-top: 3%;
    width: 80%;
    text-align: center;
}

#AddUsuarioMsg h1{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: red;
}

#AddUsuarioMsg h2{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: green;
}

/* -------------------------ESTILO---------------------- */

#Estilo {
    width: 70%;
    margin-left: 10%;
    margin-top: 6%;
    line-height: 40px;
}

#Estilo label {
    width: 40%;
    font-size: 22px;
}

#Estilo select {
    width: 30%;
    font-size: 18px;
}

#Estilo input{
    width: 30%;
    height: 28px;
    display: inline-block;
}

#styleButton {
    margin-top: 4%;
    margin-right: 10%;
}

#styleButton button {
    height: 33px;
    width: 75px;
    float: right;
    line-height: 30px;
}

/* ----------------------------------------------------- */

#MsgEstilo{
    height: 30px;
    margin-top: 3%;
    width: 80%;
    text-align: center;
}

#MsgEstilo h1{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: red;
}

#MsgEstilo h2{
    margin: 0%;
    padding: 0%;
    font-size: 25px;
    color: green;
}