<div id="container">
    <div id="titulo">
        <h2>Opciones avanzadas:</h2>
    </div>
    <div id="contBarSup">
      <div id="pestañas">
        <a (click)="changeP('p1');">Agregar usuario</a>
        <a (click)="changeP('p2');">Desactivar cuenta</a>
        <a (click)="changeP('p3');">Agregar Estilo</a>
      </div>
    </div>
    <div id="ContenedorForm">

      <div id="AgregarUsuario" *ngIf="pest==1">
        <label>Nombre: <input name="inpAgregarUsuario" type="text" [(ngModel)]="admin.NombreAdmin" /></label> <br>
        <label>Usuario: <input name="inpAgregarUsuario" type="text" [(ngModel)]="admin.Usuario" /></label> <br>
        <label>Email: <input type="text" [(ngModel)]="admin.Email" /></label> <br>
        <label>Contraseña: <input name="inpAgregarUsuario" type="password" [(ngModel)]="auxPsw1" /></label> <br>
        <label>Confirmar contraseña: <input name="inpAgregarUsuario" type="password" [(ngModel)]="auxPsw2" /></label> <br>

        <div id="AddUsuarioMsg">
          <h1 *ngIf="msgAdmin==1">Hay campos requeridos</h1>
          <h1 *ngIf="msgAdmin==2">Las contraseñas no coinciden</h1>
          <h1 *ngIf="msgAdmin==3">No se pudo completar la operacion</h1>
          <h1 *ngIf="msgAdmin==4">Error al conectarse con el servidor</h1>
          <h2 *ngIf="msgAdmin==5">Usuario agregado con exito</h2>
        </div>

        <div id="btnAgregarUsuario">
          <button (click)="agregarUsuarioAdmin()">Aceptar</button>
        </div>
        
      </div>

      <div id="DesactivarCuenta" *ngIf="pest==2">
        <div *ngIf="session.Activo">
          <p>
            Puede volver a activar su cuenta nuevamente iniciando sesion con cualquiera
            de sus usuarios.
            Mientras su empresa este desactivada sus productos no se mostraran al publico.
          </p>
          <button (click)="desactivarEmpresa()">Desactivar empresa</button> <br>
          <div id="desactEmpresaMsg">
            <h1 *ngIf="msgDesactEmpresa==1">Error al conectarse con el servidor</h1>
          </div>
        </div>

        <div *ngIf="!session.Activo">
          <p>
            Active su cuenta!
            Mientras su empresa este desactivada sus productos no se mostraran al publico.
          </p>
          <button (click)="activarEmpresa()">Activar empresa</button> <br>
          <div id="activarEmpresaMsg">
            <h1 *ngIf="msgActEmpresa==1">Error al conectarse con el servidor</h1>
            <h2 *ngIf="msgActEmpresa==2">Empresa activada con exito</h2>
          </div>
        </div>

        <div>
          <p>
            Una vez que desactives tu usuario no podras volver a iniciar sesion con el.
          </p>
          <button (click)="desactivarUsuario()">Desactivar usuario</button>
          <div id="desactUsuarioMsg">
              <h1 *ngIf="msgDesactUsuario==1">Es su unico usuario para esta empresa</h1>
              <h1 *ngIf="msgDesactUsuario==2">Error al conectarse con el servidor</h1>
            </div>
        </div>
      </div>

      <div id="Estilo" *ngIf="pest==3">
        <label>Nombre: </label> <input type="text" [(ngModel)]="style.Nombre"/> <br>
        <label>Color primario: </label> <input type="color" (change)="styleColor1()" [(ngModel)]="style.color1"/> <br>
        <label>Color secundario: </label> <input type="color" (change)="styleColor2()" [(ngModel)]="style.color2"/> <br>
        <label>Color terciario: </label> <input type="color" (change)="styleColor3()" [(ngModel)]="style.color3"/> <br>
        <label>Tipo de letra: </label> <select [(ngModel)]="style.letra" (change)="styleLetra()"> <option *ngFor="let x of fuentes">{{x}}</option> </select> <br>
        <label>Color texto 1: </label> <input type="color" (change)="stylecolorTexto1()" [(ngModel)]="style.colorTexto1"/> <br>
        <label>Color texto 2: </label> <input type="color" (change)="stylecolorTexto2()" [(ngModel)]="style.colorTexto2"/> <br>
        <label>Fondo: </label> <input style="color: transparent;" type="file" (change)="styleFondo($event)"/> <br>

        <div id="MsgEstilo">
          <h2 *ngIf="MsgEstilo==1">Estilo agregado con exito</h2>
          <h1 *ngIf="MsgEstilo==2">Error al conectarse con el servidor</h1>
          <h1 *ngIf="MsgEstilo==3">El estilo debe tener un nombre</h1>
          <h1 *ngIf="MsgEstilo==4">Error al agregar el estilo</h1>
        </div>

        <div id="styleButton">
          <button (click)="revert()">Revertir</button>
          <button (click)="aceptarCambios()">Aceptar</button>
        </div>
      </div>

    </div>
</div>
