<div id="container">
  <div id="titulo">
      <h2>Actualizar perfil:</h2>
  </div>
  <div id="contBarSup">
    <div id="pestañas">
      <a (click)="changeP('p1');">General</a>
      <a (click)="changeP('p2');">Ubicación</a>
      <a (click)="changeP('p3');">Usuario</a>
    </div>
  </div>
  <div id="ContenedorForm">
    <div *ngIf="pest==1" id="EPGeneral">
      <div id="GeneralDiv1">
          <div id="GeneralForm">
            <label>Rubro: <select [(ngModel)]="general.NombreRubro"> <option *ngFor="let c of rubros" [ngValue]="c.Nombre">{{c.Nombre}}</option> </select></label> <br>
            <label>URL: <input name="ActualizarPerfilGeneral" placeholder="Campo requerido" type="text" [(ngModel)]="general.URLocator" /></label> <br>
            <label>Tema: <select (change)="verTema()" [(ngModel)]="auxTema"> 
              <option *ngFor="let c of estilos; let i = index" [ngValue]="i">{{c.Nombre}}</option>
            </select></label> <br>
            <label>Descripcion: <textarea [(ngModel)]="general.Descripcion" rows="3" cols="25"></textarea></label>
          </div>
          <div id="divImgUp">
            <h1>Sube tu logo!:</h1>
            <img src="https://res.cloudinary.com/dnieertcs/image/upload/v1541794651/Empresa-Default.jpg" #ImgTag/>
            <input (change)="selectImg($event)" type="file" class="inptselect"/>
          </div>
      
      </div>
      <div id="UpPerfilGeneralMsg">
        <h1 *ngIf="msgUpPerfilGeneral==1">Hay campos requeridos</h1>
        <h1 *ngIf="msgUpPerfilGeneral==2">No se pudo completar la operacion</h1>
        <h1 *ngIf="msgUpPerfilGeneral==3">Error al conectarse con el servidor</h1>
      </div>
      <div id="GeneralDiv2">
        <button (click)="acceptUpdateGeneral()">Aceptar</button>
      </div>
    </div>
    
    <div *ngIf="pest==3" id="EPUsuario">
      <div id="UsuarioDiv1">
          <div id="GeneralForm">
            <div id="UsuarioForm1" *ngIf="usuarioSubDiv">
              <label>Nombre: <input type="text" placeholder="Campo requerido" [(ngModel)]="usuario.NombreAdmin"/></label> <br>
              <label>Email: <input type="text" [(ngModel)]="usuario.Email"/></label> <br>
              <div id="BtnChangePass">
                <button (click)="changeusuarioSubDiv()">Cambiar contraseña</button>
              </div>
            </div>
            <div id="UsuarioForm2" *ngIf="!usuarioSubDiv">
              <label>Usuario: <input type="text" [(ngModel)]="usuarioAuxUsuario"/></label> <br>
              <label>Contraseña actual: <input type="password" [(ngModel)]="usuarioAuxPass"/></label> <h1 *ngIf="UsuarioErrorPassIgualesActual">La contraseña nueva es igual a la actual</h1> <br>
              <label>Contraseña nueva: <input type="password" [(ngModel)]="usuarioAuxNewPass"/></label> <h1 *ngIf="UsuarioErrorPassIguales">Las contraseñas deben coincidir</h1> <br>
              <label>Verificación: <input type="password" [(ngModel)]="usuarioVerifPass"/></label> <br>
            </div>
          </div>
      </div>
      <div id="UsuarioErrorMsg">
        <h1 *ngIf="UsuarioErrorMsg==1">No se pudo conectar con el servidor</h1>
        <h1 *ngIf="UsuarioErrorMsg==2">Datos incorrectos</h1>
        <h1 *ngIf="UsuarioErrorMsg==3">No se pudo completar la operacion</h1>
        <h1 *ngIf="UsuarioErrorMsg==4">Hay campos requeridos</h1>
      </div>
      <div id="UsuarioDiv2">
        <button (click)="changeusuarioSubDiv()" *ngIf="!usuarioSubDiv">Cancelar</button>
        <button (click)="acceptUpdateUsuario()">Aceptar</button>
      </div>
    </div>

    <div *ngIf="pest==2" id="EPUbicacion">
      <div id="UbicacionDiv1">
        <div id="Ubicacionform">
          <label>Direccion: <input id="inpDir" type="text" [(ngModel)]="ubicacion.Direccion"/></label>
        </div>
        <!-- <div id="Mapa">
          
        </div> -->
      </div>
      <div id="UbicacionMag">
        <h1 *ngIf="UbicacionError==1">No se pudo conectar con el servidor</h1>
        <h1 *ngIf="UbicacionError==2">Error al completar la operacion</h1>
        <h2 *ngIf="UbicacionError==3">Ubicación actualizada con exito</h2>
      </div>
      <div id="UbicacionDiv2">
        <button (click)="acceptUpdateUbicacion()">Aceptar</button>
      </div>
    </div>
  </div>
</div>