<div id="container">
  <div id="titulo">
      <h2>Administrar zonas de entrega:</h2>
  </div>
  <div id="contBarSup">
    <div id="pestañas">
    </div>
  </div>

  <div id="ZEAgregar" *ngIf="pest==1">
    <div id="AgregarDiv1">
      <div id="FormAgregarCont">
        <div id="map">

        </div>
      </div>
      <!-- <div id="TablaZonas">
        <table>
          <tr *ngIf="zonas.length>0"><th>Id</th> <th>Latitud</th> <th>Longitud</th> <th>Radio</th></tr>
          <tr *ngFor="let z of zonas; let i = index">
            <td>{{i}}</td>
            <td>{{z.Lat}}</td>
            <td>{{z.Lng}}</td>
            <td>{{z.Radio}}</td>
            <td> <button (click)="eliminarZona(i)">-</button> </td>
          </tr>
        </table>
      </div> -->
      <div id="AgregarMsg">
        <h1 *ngIf="AgregarMsg==1">No se pudo actualizar las zonas de entrega</h1>
        <h2 *ngIf="AgregarMsg==2">Zonas de entrega actualizadas con exito</h2>
        <h1 *ngIf="AgregarMsg==3">Error al conectarse con el servidor</h1>
      </div>
      <div id="DivBtn">
        <button (click)="aceptarCambiosZona()">Aceptar</button>
      </div>
    </div>
  </div>
</div>