#registerContainer {
    width: 80%;

    max-width: 900px;

    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-bottom: 4%;

    border: 1px solid black;
    background-color: whitesmoke;
}

#registerTitle{
    width: 100%;
    margin-left: 6%;
    margin-right: auto;
}

#registerTitle h2{
    font-size: 50px;
    width: 90%;
    margin-left: 9%;
    margin-bottom: 3%;
}

/* -----------------------------FORM 1--------------------------- */
#formdiv1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#formdiv1 label{
    font-size: 140%;
    margin-top: 4%;
    width: 95%;
    height: 15%;
}

#formdiv1 input{
    font-size: 100%;
    margin-right: 5%;
    width: 50%;
    float: right;
    height: 50%;
}

#formdiv1 select{
    font-size: 100%;
    margin-right: 5%;
    width: 50%;
    float: right;
    height: 50%;
}

#formdiv1 textarea{
    font-size: 100%;
    margin-right: 5%;
    float: right;
    width: 50%;
}

/* --------------------------FORM IMAGE---------------------- */

#formdiv2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#divimg {
    width: 100%;
}

#divimg label{
    font-size: 140%;
    width: 95%;
    height: 15%;
}

#divimg img{
    width: 300px;
    height: 300px;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: auto;
}

#divinpfile {
    width: 100%;
    margin-top: 5%;
}

#divinpfile label {
    margin-left: 30%;
}

#divinpfile input {
    margin-left: 30%;
    color: transparent;
}

/* -------------MSG Y BOTON----------------- */
#formdiv3 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#ContRegMsg {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

#ContRegMsg h2 {
    margin: 0;
    color: red;
}

#formdiv3 button {
    float: right;
    font-size: 20px;
}

/* ------------------CREAR ADMIN------------ */

#userTitle{
    margin-left: 15%;
}

#tableuserCont {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#tableuserCont label{
    font-size: 140%;
    margin-top: 4%;
    width: 95%;
    height: 15%;
}

#tableuserCont input{
    font-size: 100%;
    margin-right: 5%;
    width: 50%;
    float: right;
    height: 50%;
}

/* -------------MSG BUTTON USUARIO---------- */

#userBtn {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#contMsg {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}

#contMsg h2 {
    margin: 0;
    color: red;
}

#userBtn button {
    float: right;
    font-size: 20px;
    margin-right: 2%;
}